.black{
    background: black;
    color: white;
}
.brown{
    background: brown;
    color: white;
}
.red{
    background: red;
    color: white;
} 
.orange{
    background: orange;
    color: black;
}  
.yellow{
    background: yellow;
    color: black;
}
.green{
    background: green;
    color: white;
}
.blue{
    background: blue;
    color: white;
}
.violet{
    background: rgb(233, 24, 233);
    color: white;
}
.grey{
    background: grey;
    color: black;
}
.white{
    background: white;
    color: black;
}
.gold{
    background: gold;
    color: black;
}
.silver {
    background: silver;
    color: black;
}


.col{
    text-align: center;
}
