select option[value="0"] {
    background: black;
    color: white;
}
select option[value="1"] {
    background: brown;
    color: white;
}
select option[value="2"] {
    background: red;
    color: white;
} 
select option[value="3"] {
    background: orange;
    color: black;
}  
select option[value="4"] {
    background: yellow;
    color: black;
}
select option[value="5"] {
    background: green;
    color: white;
}
select option[value="6"] {
    background: blue;
    color: white;
}
select option[value="7"] {
    background: rgb(233, 24, 233);
    color: white;
}
select option[value="8"] {
    background: grey;
    color: black;
}
select option[value="9"] {
    background: white;
    color: black;
}
select option[value="10"] {
    background: gold;
    color: black;
}
select option[value="11"] {
    background: silver;
    color: black;
}


.col{
    text-align: center;
}
