body, html {
	height: 100%; /*MAKE OBJECTS IN FULL PAGE*/
}
/* /////////////////////////////////////// NAVBAR ////////////////////////////////////////////// */
.top, .navbar{
	background-color: #0a0a0a;
}
.navbar-brand{
	padding: none;
}
.navbar-brand:hover{
	color: #7c7c7c;
}
.color-custom a{
	font-weight: bold;
	color: #ffffff !important;
	text-decoration: none;
}
.color-custom a:hover{
	color: #5a5a5a !important;
}
.dropdown-menu a{
	color: #0a0a0a !important;
}
.dropdown-menu a:hover{
	background-color: #0a0a0a61;
}
.home{
	padding-bottom: 3px;
}
.dropdown{
	cursor: pointer;
}
/* /////////////////////////////////////// BANNER ////////////////////////////////////////////// */
#front-page{
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/arduino-2.jpg');
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#banner{
	text-align: center;
	padding: 70px 30px 30px 30px;
	color: #ffffff;
	
}
#banner h1{
	padding: 30px 0px 15px 0px;
	font-weight: bolder;
}
#banner h4{
	color: #ffffff;
}
#banner a{
	color: #0a0a0a;
	font-weight: bolder;
	font-size: larger;
	font-family: 'Press Start 2P', cursive;
}

#banner .press-start-banner{
	padding: 60px 0px 0px 0px;
	font-family: 'Press Start 2P', cursive;
}
/* #banner .start-btn{
	padding: 30px 0px 40px 0px;
} */
/* /////////////////////////////////////// MAINPAGE ////////////////////////////////////////////// */