body, html {
	height: 100%; /*MAKE OBJECTS IN FULL PAGE*/
}
/* /////////////////////////////////////// NAVBAR ////////////////////////////////////////////// */
.top, .navbar{
	background-color: #0a0a0a;
}
.navbar-brand{
	padding: none;
}
.navbar-brand:hover{
	color: #7c7c7c;
}
.color-custom a{
	font-weight: bold;
	color: #ffffff !important;
	text-decoration: none;
}
.color-custom a:hover{
	color: #5a5a5a !important;
}
.dropdown-menu a{
	color: #0a0a0a !important;
}
.dropdown-menu a:hover{
	background-color: #0a0a0a61;
}
.home{
	padding-bottom: 3px;
}
.dropdown{
	cursor: pointer;
}
/* /////////////////////////////////////// BANNER ////////////////////////////////////////////// */
#front-page{
	background-image: url('../images/arduino-2.jpg'); 
	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	color: #ffffff;
}