
/*//////////////////////////////////////NAVBAR CSS////////////////////////////////////////////*/
#navigation{
    background-color: #343a40;
}
.logo-image{
    height: 50px;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("../images/icon.png");
}
.navbar-nav a{ 
    height: 35px;
    line-height: 15px;
    padding: 10px 15px 10px 15px;
    color:#fff;
    border-radius: 3px;
    letter-spacing: 1px;
}
.navbar-nav a:hover{ 
    background-color: #ffffff68;
    color: #343a40;
}
/* /////////////////////////////////////// BANNER ////////////////////////////////////////////// */
.trickcenter h2, .trickcenter p{
    top: 90%; // 50% for perfect centering
    left: 0%;
    transform: translate(-30%, -70%);
    font-size: 50px;
}
.trickcenter p{
    top: 90%; // 50% for perfect centering
    left: 0%;
    transform: translate(-30%, -70%);
    font-size: 30px;
}
/* MAIN SECTION */
#contact{
    background-image: url("../images/seamless-background.jpg");
}
#HCB_comment_box .submit {
    background:none; /* Clear twitter bootstrap style. */
    background-color:#fff;
    border:1px solid #343a40;
    color: white;


/* LECTURES */


/* CIRCUITS */




/* PROJECTS */





/* FOOTER */
.gcse-search{
    padding: 0rem;
}

#footer{
    background-color: #343a40;
}

.nav-link{
    text-decoration: none;
    color: azure;
}