/* /////////////////////////////////////// NAVBAR ////////////////////////////////////////////// */
.top, .navbar{
	background-color: #0a0a0a;
}
.navbar-brand{
	padding: none;
}
.navbar-brand:hover{
	color: #7c7c7c;
}
.color-custom a{
	font-weight: bold;
	color: #ffffff !important;
	text-decoration: none;
}
.color-custom a:hover{
	color: #5a5a5a !important;
}
.dropdown-menu a{
	color: #0a0a0a !important;
}
.dropdown-menu a:hover{
	background-color: #0a0a0a30;
	color: #0a0a0a !important;
}
.home{
	padding-bottom: 3px;
}
.dropdown{
	cursor: pointer;
}

.search{
	padding: 0%;
	height: 40px;
}