#navigation{
    background-color: #343a40;
}
.logo-image{
    height: 50px;
}
#banner{
    background-image: url("../images/seamless-background.jpg");
    padding-top: 35px;
}

.greeting{
    padding-top: 30px;
    padding-bottom: 30px;
}

#contact{
    background-image: url("../images/seamless-background.jpg");
}

#footer{
    background-color: #343a40;
}

.nav-link{
    text-decoration: none;
    color: azure;
}